# Python for Machine Learning

## Part I : Basic Syntax

## All these codes here are practicing for Machine Learining Purpose from different sources

- Datatype

In [1]:
1+1

2

In [2]:
4*5

20

In [3]:
10/2

5.0

In [4]:
10%2

0

In [5]:
10**2

100

In [6]:
type(1)

int

In [7]:
type("Hello")

str

In [8]:
10 * 'str'

'strstrstrstrstrstrstrstrstrstr'

In [10]:
type(True)

bool

# Strings

In [11]:
"Hello"

'Hello'

In [12]:
type("Ashiqur")

str

In [13]:
'Ashiqur Russel'

'Ashiqur Russel'

# Variable Assignment

In [14]:
# syntax
# var_name = values

a=10

In [15]:
type(a)

int

In [17]:
a = 'Ashiqur Russel'
type(a)

str

In [21]:
## Mathmatical opearation with Variable Assignement

a=10
b=20

print(a*b)
print(a/b)
print(a%b)
print((a*b)+(a+b))

200
0.5
10
230

In [22]:
# Various way of printing

print("Hello")

Hello

In [25]:
firstName = 'Ashiqur'
lastName = 'Russel'

In [26]:
print("My first Name is {} and last name is {}".format(firstName,lastName))

My first Name is Ashiqur and last name is Russel

In [28]:
print("My first Name is {first} and last name is {last}".format(first=firstName,last=lastName))

My first Name is Ashiqur and last name is Russel

In [30]:
## finding the length of String

len(firstName)

7

In [31]:
type (['1',2,3,4])

list