# Python Data Structre and Boolean

- Boolean
- Logiacl Operators
- Lists
- Comparison
- Dictionaries
- Tuples
- Sets

In [1]:
bool()

False

In [2]:
type(False)

bool

In [3]:
my_str = 'Ashiqur'

print(my_str.isalnum()) # Check if all char are numbers
print(my_str.isalpha()) # Check if all char are alphabetic
print(my_str.isdigit()) # Check string contain digit

True
True
False

In [4]:
my_name = "Russel"

print(my_name.startswith('R')) # check if string  start with R
print(my_name.endswith('l'))   # check if string  ends with l

True
True

## List

In [5]:
my_ls = ['physics',100,200,400]

print(my_ls)

['physics', 100, 200, 400]

In [6]:

my_ls

['physics', 100, 200, 400]

In [7]:
type(my_ls)

list

In [11]:
my_ls.append('CSE')

In [12]:
my_ls

['physics', 100, 200, 400, 'CSE', 'CSE', 'CSE', 'CSE']

In [13]:
my_ls

['physics', 100, 200, 400, 'CSE', 'CSE', 'CSE', 'CSE']

In [15]:
my_ls

['physics', 100, 200, 400, 'CSE', 'CSE', 'CSE']

In [16]:
my_ls.remove('CSE')

In [17]:
my_ls.remove('CSE')

In [18]:
my_ls.remove('CSE')

In [19]:
my_ls

['physics', 100, 200, 400]

In [20]:
my_ls.append('CSE')
print(my_ls)

['physics', 100, 200, 400, 'CSE']

In [21]:
my_ls

['physics', 100, 200, 400, 'CSE']

In [22]:
my_ls.insert(1,'Pass')

In [23]:
my_ls

['physics', 'Pass', 100, 200, 400, 'CSE']

In [24]:
ls = [1,2,4,1,2,3,1] # count() calculate total element on the liost
ls.count(1)

3

In [25]:
len(ls) # calculate total lenght of list

7

In [26]:
ls.index(1) # return the index of first occurence

0

In [29]:
 # min & max
    
print(min(ls))
print(max(ls))

1
4

# SETS

No duplicate elements

In [30]:
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [31]:
set_var = {"Avengers","Iron Man",'Hitman'}
print(set_var)
type(set_var)

{'Hitman', 'Iron Man', 'Avengers'}

set

In [32]:

# Inbuilt function in sets

set_var.add('Hulk')
print(set_var)

{'Hulk', 'Hitman', 'Iron Man', 'Avengers'}

In [37]:
set1 = {"Avengers","Iron Man",'Hitman'}
set2 = {"Avengers","Iron Man",'Hitman','Hulk'}

# Difference

set2.difference(set1)

{'Hulk'}

In [38]:
set2.difference_update(set1)

In [39]:
print(set2)

{'Hulk'}

In [44]:
set2

{'Hulk'}

## Dictionaries
- Unordered
- changeable
- Indexed
- have keys & values

In [45]:
dic = {}

In [46]:
type(dic)

dict