# Pandas

Oandas is an open source, BSD-licensed library providing high-performance, easy- to-use data structre and data analysis tools for the python programming language

In [1]:
# import panadas

import pandas as pd
import numpy as np

In [4]:
# Playing with Dataframe
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=["Column1","Column2","Column3","Column4"])

In [5]:
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [6]:
df.to_csv('Test1.csv')

In [7]:
# Accessing elements
## 1 -> .loc 2-> .iloc

df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int64

In [8]:
# type of df.loc

type(df.loc['Row1'])

pandas.core.series.Series

In [14]:
df.iloc[0:2,0]

Row1    0
Row2    4
Name: Column1, dtype: int64

In [16]:
## take the elements from col2
df.iloc[:,1:]

      Column2  Column3  Column4
Row1        1        2        3
Row2        5        6        7
Row3        9       10       11
Row4       13       14       15
Row5       17       18       19

In [19]:
df.iloc[:,1:].values.shape

(5, 3)

In [23]:
df['Column1'].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: Column1, dtype: int64

In [24]:
## check dataframe is null or not

df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [25]:
df

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [26]:
df['Column1'].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: Column1, dtype: int64

In [27]:
df['Column1'].unique()

array([ 0,  4,  8, 12, 16])